<header>
  <nav class="navbar bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <h3 class="text-light">petmarkt</h3>
      </a>
      <form class="d-flex" role="search">
        <input class="form-control" type="search" placeholder="¿Que es lo que estas buscando?" aria-label="Search">
        <button class="btn btn-warning">
          <div class="lupa">
            <div class="lupa">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
              </svg>
            </div>
          </div>
        </button>
      </form>
    </div>

    <div class="navbar">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link text-light">Marca</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light">Perros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light">Gatos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light">Cacitacion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light">Media Kits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light">Ordena rapido</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<section class="imagen">
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://cdn.shopify.com/s/files/1/0105/9484/4730/t/33/assets/slide_dpv_2.png?v=78938306968102779271673286719"
          class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img
          src="https://cdn.shopify.com/s/files/1/0105/9484/4730/t/33/assets/slide_dpv_3.png?v=57739644402576055731671655511"
          class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img
          src="https://cdn.shopify.com/s/files/1/0105/9484/4730/t/33/assets/slide_dpv_1.png?v=37065066029445903721669219856"
          class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<section id="morado">
  <div class="container-morado">
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <h5>
            Envío Gratis en CDMX
            Compras $500* Consulta métodos de entrega
          </h5>
        </div>
        <div class="col">
          <h5>
            Vende sin stock
            Enviamos el pedido a tu cliente
          </h5>
        </div>
        <div class="col">
          <h5>
            Pagamos tus promos
            Ofrece descuentos gratis
          </h5>
        </div>
        <div class="col">
          <h5>
            Hasta 71% de retorno
            Sobre lo que inviertes
          </h5>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="articulos">
  <div class="container text-center">
    <div class="row row-cols-5">

      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <img
              src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/DENTALSTIXX-CATNIP_2_200x200.jpg?v=1671217465"
              alt="">
            <h5 class="card-title">Premio para Gatos</h5>
            <p class="card-text">Emeral Pet.</p>
            <p>$250</p> <a href="#" class="btn btn-secondary">Comprar</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <img
              src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/DENTALSTIXX-CATNIP_2_200x200.jpg?v=1671217465"
              alt="">
            <h5 class="card-title">Premio para Gatos</h5>
            <p class="card-text">Emeral Pet.</p>
            <p>$250</p> <a href="#" class="btn btn-secondary">Comprar</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <img
              src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/DENTALSTIXX-CATNIP_2_200x200.jpg?v=1671217465"
              alt="">
            <h5 class="card-title">Premio para Gatos</h5>
            <p class="card-text">Emeral Pet.</p>
            <p>$250</p> <a href="#" class="btn btn-secondary">Comprar</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <img
              src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/DENTALSTIXX-CATNIP_2_200x200.jpg?v=1671217465"
              alt="">
            <h5 class="card-title">Premio para Gatos</h5>
            <p class="card-text">Emeral Pet.</p>
            <p>$250</p> <a href="#" class="btn btn-secondary">Comprar</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <img
              src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/DENTALSTIXX-CATNIP_2_200x200.jpg?v=1671217465"
              alt="">
            <h5 class="card-title">Premio para Gatos</h5>
            <p class="card-text">Emeral Pet.</p>
            <p>$250</p> <a href="#" class="btn btn-secondary">Comprar</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <img
              src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/DENTALSTIXX-CATNIP_2_200x200.jpg?v=1671217465"
              alt="">
            <h5 class="card-title">Premio para Gatos</h5>
            <p class="card-text">Emeral Pet.</p>
            <p>$250</p> <a href="#" class="btn btn-secondary">Comprar</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <img
              src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/DENTALSTIXX-CATNIP_2_200x200.jpg?v=1671217465"
              alt="">
            <h5 class="card-title">Premio para Gatos</h5>
            <p class="card-text">Emeral Pet.</p>
            <p>$250</p> <a href="#" class="btn btn-secondary">Comprar</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <img
              src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/DENTALSTIXX-CATNIP_2_200x200.jpg?v=1671217465"
              alt="">
            <h5 class="card-title">Premio para Gatos</h5>
            <p class="card-text">Emeral Pet.</p>
            <p>$250</p> <a href="#" class="btn btn-secondary">Comprar</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <img
              src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/DENTALSTIXX-CATNIP_2_200x200.jpg?v=1671217465"
              alt="">
            <h5 class="card-title">Premio para Gatos</h5>
            <p class="card-text">Emeral Pet.</p>
            <p>$250</p> <a href="#" class="btn btn-secondary">Comprar</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <img
              src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/DENTALSTIXX-CATNIP_2_200x200.jpg?v=1671217465"
              alt="">
            <h5 class="card-title">Premio para Gatos</h5>
            <p class="card-text">Emeral Pet.</p>
            <p>$250</p> <a href="#" class="btn btn-secondary">Comprar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer id="footerf">
  <div class="container-footer">
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <p>
            Ligas Adicionales
            Buscar
            Nuestro Blog
            Quiénes Somos
            Contáctanos
          </p>
        </div>
        <div class="col">
          <p>
            Ayuda
            Ayuda
            Pagos
            Envíos y Entregas
            Reportar Incidencia
            Facturación Electrónica
            Devoluciones y Cambios
          </p>
        </div>
        <div class="col">
          <p>Horario de Atención
            Lunes a Viernes
            9:00 a.m. a 6:00 p.m.

            (55) 7005-5660</p>
        </div>
        <div class="col">
          <p>Enterate de todas nuestras promociones y lanzamientos</p>
        </div>
      </div>
    </div>
  </div>
</footer>